<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
</head>
<body>
    <h1>New Article</h1>
    <form action="/article" method="POST">
        <%- include('_form_usage') %>
    </form>
</body>
</html>